@use '@angular/material' as mat;
@use './_theme-colors' as colors;



$primary-palette:          colors.$primary-palette;
$secondary-palette:        colors.$secondary-palette;
$tertiary-palette:         colors.$tertiary-palette;
$neutral-palette:          colors.$neutral-palette;
$neutral-variant-palette:  colors.$neutral-variant-palette;
$error-palette:            colors.$error-palette;

html {
  color-scheme: light;

  @include mat.theme((
    color: (
      primary:   $primary-palette,
      secondary: $secondary-palette,
      tertiary:  $tertiary-palette,
      neutral:   $neutral-palette,
      'neutral-variant': $neutral-variant-palette,
      error:     $error-palette
    ),
    typography: Roboto,
    density: 0
  ));

  @include colors.high-contrast-overrides(color-scheme);

  &.dark {
    color-scheme: dark;
  }
}
